<h2>Daily Flight Schedule</h2>

<div id="search">
  <form action="<%= flights_url %>" method="get">
    <label for="keyword">Search:</label>
    <input type="text" name="keyword" placeholder="Enter a Departure Code" size="30">
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>
      <th>Flight Number</th>
      <th>Leaves</th>
      <th>Departure Time</th>
      <th>Arrives</th>
      <th>Arrival Time</th>
      <th>Seats Remaining</th>
      <th>Miles</th>
    </tr>
  </thead>
  <tbody>
  	<% @flights.each do |flight| %>
	    <tr>
        <td><%= link_to "Book Now", new_reservation_url(flight_id: flight.id) %></td>
        <td><%=flight.flight_number%></td>
	      <td><%=flight.departure_airport%></td>
	      <td><%=flight.departure_time.localtime.strftime("%l:%M %P")%></td>
	      <td><%=flight.arrival_airport%></td>
	      <td><%#=flight.arrival_time%></td>
	      <td><%=flight.seats%></td>
	      <td><%=flight.distance%></td>
	    </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @flights %>
